<!DOCTYPE html>
<html>
  <head>
    <title>Interviewing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'app', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="root" data-current_user="<%= @user.to_json(only: [:email, :id, :favorite_team_id]) %>"><%= yield %></div>
  </body>
</html>
